

<h1>Angular</h1>
 <books></books>


 <input 
        type="text" 
        appInputFormat [format]="'uppercase'">  

 <hr>
<p>Please enter search terms</p>

<br>
Book Title<br>
 <input 
    id="bookTitle"
    type="text"
    ><br>
 <button>
  Submit by Book Title
</button><br>
Author Name<br>
 <input 
    id="bookAuthor"
    type="text"><br>
 <button>
  Submit by Book Author
</button><br>
Library of Congress ID (X[X] NN[.NN] format)<br>
 <input 
    id="bookLOCID"
    type="text"><br>
 <button>
  Submit by LOC ID
</button>
<hr>

To see all the books available, please press the below button.  <br>
<button>See All Books</button>


 <!--
 <contact-form></contact-form>

 -->

 <!--

 <span *ngIf="task.title">{{ task.title }}</span>
 <b></b>
 <br>
<span *ngIf="task.assignee">{{ task.assignee.name }}</span>
<br>
<b></b>

 <button >
  Save
</button>
 <ul>
  <li *ngFor="let book of books; trackBy: trackBook">
    {{ book.name }}
   <!-- <button (click)="onRemove(book)">Remove</button> -->
   <!--
  </li>


  <ng-template [ngIf]="books.length > 0">
    <div> 
      List of books
    </div>
  </ng-template>
  <ng-template [ngIf]="!(books.length > 0)">
    No books
  </ng-template>

  <br>
  <input type="text" appInputFormat>
 
 </ul>

-->

<hr><hr>
<H2>FOR ADMINISTRATION STAFF ONLY</H2>

Book Id<br>
 <input 
 id="bookId"
 type="text"><br>
Book Title<br>
 <input 
  id="bookTitle"
  type="text"><br>
Author Name<br>
 <input 
    id="bookAuthor"
    type="text"><br>
Library of Congress ID (X[X] NN[.NN] format)<br>
 <input 
    id="bookLOCID"
    type="text"><br>
 <button>
  Search for availability for all books
</button>
<br>
<button>
  Search for availability for one book by book id
</button>
<br>
<button>
  Search for availability for one book by title
</button>
<br>
<button>
  Search for availability for one book by author name
</button>
<br>
<hr>

Add or update book in JSON format<br>
Example:<br>
{{<br>
  "bookId": 10,<br>
  "bookTitle": "My Title",<br>
  "bookAuthor": "Author, Some",<br>
  "locRef": "ZY 123",<br>
  "allowedCheckoutDays": 2,<br>
  "putOnRequest": false, (give false as default)<br>
  "checkedOut": false (give false as default)<br>
}}
<br>
 <textarea rows="10" type="text">
   </textarea>
  <br>

 <button>
  Add Book
</button>

<button>
  Remove Book
</button>

<button>
  Update Book
</button>

